<script setup lang="ts">
import CardSchool from '@/components/CardSchool.vue';
import InterrestTable from '@/components/InterrestTable.vue';
import { ref } from 'vue';
import TheTable from '@/components/TheTable.vue';
import SlideImg from '@/components/SlideImg.vue';
const historyOfSchools = ref([{
  img: 'https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/bookmark-dynamic-premium.png',
  title: 'อนุบาลศึกษา',
  content: 'อนุบาล1-3 อนุบาลรสศุคลอากาศ'
},
{
  img: 'https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/bookmark-fav-dynamic-premium.png',
  title: 'ประถมศึกษา',
  content: ' ประถม1-6 โรงเรียนสวนอักษร'
},
{
  img: 'https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/bag-dynamic-premium.png',
  title: 'มัธยมศึกษาตอนต้น',
  content: ' มัธยมศึกษา1-3  โรงเรียนธรมศาสตร์คลองหลวงวิทยาคม สายการเรียน Science Mathematics English program (SMEP)'

},

{
  img: 'https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/target-dynamic-premium.png',
  title: 'มัธยมศึกษาตอนปลาย',
  content: ' มัธยมศึกษา4-6   โรงเรียนธรมศาสตร์คลองหลวงวิทยาคม สายการเรียน Science Mathematics English program (SMEP)'

},
{
  img: 'https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/medal-dynamic-premium.png',
  title: 'อุดมศึกษา',
  content: ' ปริญญาตรี คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์(Computer-Science) ปี2 '

},
])
</script>
<template>
  <div>
    <v-row class="top">
      
      <v-row justify="center">
        <v-avatar size="200" class="decorate-img"><img src="../assets/me.jpg" style="width:200px" /></v-avatar>

      </v-row>

    </v-row>
    <v-row justify="center" style="padding-top: 40px;">
      <h1 style="text-align:center ;">Kaewmanee Marasri</h1>
    </v-row>
      <v-row justify="center">
      <p style="text-align:center ;">64160234 แก้วมณี มารศรี</p>

      </v-row>

    <v-divider style="margin: 20px 0px ;"></v-divider>

    <div>
      <v-row>
        <h2 style="padding-left: 80px;">ประวัติการศึกษา</h2>
      </v-row>
      <v-row justify="space-between">
        <!-- <v-col v-for=" (list,index) in  historyOfSchools" :key="index">
          <card-school class="card" :title="list.title" :content="list.content" :icon="list.img"></card-school>
        </v-col> -->
        <v-timeline direction="horizontal">
          <v-timeline-item dot-color="cyan-lighten-1" v-for=" (list, index) in  historyOfSchools" :key="index">

            <div>
              <div class="text-h6"> {{ list.title }}</div>
              <p>
                {{ list.content }}
              </p>
            </div>
          </v-timeline-item>
        </v-timeline>

      </v-row>
    </div>
    <v-divider style="margin: 20px 0px ;"></v-divider>
    <v-row>
      <h2 style="padding-left: 80px;">สิ่งที่สนใจ</h2>
    </v-row>
    <v-row>
      <InterrestTable></InterrestTable>
    </v-row>
    <v-divider style="margin: 20px 0px ;"></v-divider>
    <v-row>
      <h2 style="padding-left: 80px;">ผลงาน</h2>
    </v-row>
    <v-row>
      <TheTable style="margin: 0 auto;"></TheTable>
    </v-row>

    <v-divider style="margin: 20px 0px ;"></v-divider>
    <h2 style="padding-left: 80px;">My Image</h2>

    <SlideImg ></SlideImg> 
     <v-divider style="margin: 20px 0px ;"></v-divider>
  </div>
</template>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
  font-family: 'Noto Sans Thai', sans-serif;
}

.top {
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
  height: 30vh;
}

.decorate-img {
  margin-top: 5vh;

}

.study-history-container {
  margin-top: 50px;
  background-color: #fff;
}

.card {
  margin-right: 10px;
  margin-bottom: 20px;
}
</style>