<script setup lang="ts">
import FrameWorkPop from '@/components/FrameWorkPop.vue';
import { computed, ref } from 'vue';
const lists = ref([
  {name:"Vue js" , img:'https://cdn.iconscout.com/icon/free/png-256/vue-282497.png',rating:10},
  {name:"Angular" , img:'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png',rating:10},
  {name:"React" , img:'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png',rating:10},
  ])

  const changeRating = (index:number,rating:number)=>{
    console.log('action -> '+index+" : "+rating) 
    lists.value[index].rating = rating;
    }

  const orderLists = computed(() =>{
    return [...lists.value].sort((n1,n2) => n2.rating - n1.rating);
  })
</script>
<template>
  <div>Start view
    <v-container>
      <v-row>
        <v-col v-for="(list,index) in lists" :key="index">
          <FrameWorkPop :name="list.name" :img="list.img" :rating="list.rating" :index="index" @change="changeRating"></FrameWorkPop >
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col col="6">
          <v-table>
            <thead>
              <tr>
                <th>order</th>
                <th>name</th>
                <th>rating</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(list,index) of orderLists" :key="index">
                <td>{{index +1}}</td>
                <td>{{list.name}}</td>
                <td>{{list.rating}}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>

    </v-container>

  </div>
</template>