<script setup lang="ts">
const props = defineProps<{
  icon: string,
  title: string,
  content: string,

}>();
</script>
<template>
  <div>
    <v-card class="mx-auto" width="310" height="130">
      <template v-slot:title>
        <img :src="props.icon" style="width:30px;" /> <span
          style="font-size: 20px; font-weight: 600;">{{ props.title }}</span>
      </template>
      <v-card-text>
        {{ props.content }}
      </v-card-text>
    </v-card>
  </div>
</template>