<script setup lang="ts">import { ref } from 'vue';

const lists = ref([
  {title:`About Web Developer`,img:'https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg'},
  {title:` Game Developer (นิดหน่อย) `,img:'https://blog.eduonix.com/wp-content/uploads/2021/05/Game-developer-gaming-game-designing-game-development-scaled-e1620913877686.jpg'},
  {title:` Machine Learning &#10024;`,img:'https://imageio.forbes.com/specials-images/dam/imageserve/966248982/960x0.jpg?format=jpg&width=960'},
  {title:` Animation`,img:'https://assets-prd.ignimgs.com/2022/08/17/top25animecharacters-blogroll-1660777571580.jpg'}, 
  {title:` Manga `,img:'https://thanhgiangconincon.com/wp-content/uploads/2020/11/Manhwa-Han-Quoc-noi-tieng-nhat.jpg'},
])
</script>
<template>
  <v-container>
    <v-sheet
    class="mx-auto"
    elevation="8"
    max-width="800"
  >
    <v-slide-group
      
      class="pa-4"
      selected-class="bg-success"
      show-arrows
    >
      <v-slide-group-item
      v-for="(list ,index) in lists" :key="index" >
        <v-card
          color="grey-lighten-1 bg-img"
          class='ma-4'
          height="200"
          width="200"
        >
        <v-img :src="list.img" height="90%" cover/>
        <p style="text-align: center; font-weight: 500;">{{list.title}}</p>
        
          <div class="d-flex fill-height align-center justify-center">
            <v-scale-transition>
              <v-icon
                color="white"
                size="48"
                icon="mdi-close-circle-outline"
              ></v-icon>
            </v-scale-transition>
          </div>
        </v-card>
      </v-slide-group-item>
    </v-slide-group>
  </v-sheet>
  </v-container>

</template>
