<script setup lang="ts">import { ref } from 'vue';

const imgLists = ref([
  
  {img:'https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/281866572_1803456446664134_1338796781317594940_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHe39HgUthVD1wjdbCHfFiCcrWPCgHXNldytY8KAdc2V_DklvJuZaBkrWyvMpNHos44rH1hRL8m0zxIRxz6XMIb&_nc_ohc=RZH4ld_ZCNQAX97zT-7&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCMuoHOkOUe7qgsEiABDnrJMtwvxcsf4-brn6Ygwm4IUA&oe=639F8197'},
  {img:'https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/278007953_1702470213429425_1651626257529217033_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEb_AEbb3eURyz-cDWsvatYiFqSJEtYp5KIWpIkS1inkmnK01_rIGpQuA7fpgvTTfBXyO6HpYgpWnzKOoiIWMZC&_nc_ohc=OsnSrS_ZTVsAX8RMhCF&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfDRku106LfthFu1KMmZ7FOcEqwFw40d82OZT9HAJ894ag&oe=63A0169B'},
  {img:'https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/315024129_1872467869762991_7444133729145810092_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHEnjni3O8Npz941Gr-f1Wpjl1JLkFnzQqOXUkuQWfNCgRWVU7tyyCbUHKdPzr0v3zsS1lpZLuDz9Y7MEETNQBo&_nc_ohc=YoAJB72PhZcAX8MZsrw&tn=MADJhQDUfGCZ3fmJ&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfBBKvdKWvpbjApUImbKDU2UU1R7ojHtnwuX_K4bRYLM3g&oe=639F7974'},
  {img:'https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/306818479_1825855351090910_5931415828494083597_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHbk3nxUQ5BNNcEEuoZ2z6SyIZ1yon5MlPIhnXKifkyU59XGlbVubrC6dv7hYcl3Pd-FAn1P1SWx0NMu1fy_uJh&_nc_ohc=Aa91jh9z6q8AX9emo9F&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC1ApzsIjpVblwJLODvOr183PeMS3Hf9E3P3L2IPLG0rg&oe=639F7BBA'},
  ])
</script>
<template>
  <div>
    <v-container>
      <v-carousel :show-arrows="true" >
        <v-carousel-item
          v-for="(item,i) in imgLists"
          :key="i"
          :src="item.img"
          
        ></v-carousel-item>
      </v-carousel>
    </v-container>
   
  </div>
</template>

