<script setup lang="ts">
import { ref } from 'vue';
import { mdiApplicationOutline } from '@mdi/js';
const MyItems = ref([
  {title:'Blog รีวิววิชาเสรี (nuxt)',link:'https://github.com/Malao-Ang/Seree'},
  {title:'webจำลองการลงsec (Vuejs)',link:'https://github.com/Malao-Ang/tumtummai'},
  {title:'เครื่องคิดเลข (Flutter)',link:'https://github.com/Malao-Ang/calculator_Flutter'},
  {title:'Game FindButton  (Vuejs)',link:'https://github.com/Malao-Ang/Find_Button'},
  {title:'DinoCat (Js)',link:'https://github.com/Malao-Ang/Dinocat'},
  ])
</script>

<template>
  <v-table width="80%">
    <thead>
      <tr >
        <th class="text-center">
          Name
        </th>
        <th class="text-center">
         Link
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item,index) in MyItems" :key="index"
       
      >
        <td> {{item.title}} </td>
        <td><a :href="item.link" target="_blank">{{item.link}}</a> </td>
      </tr>
    </tbody>
  </v-table>
</template>